/* VARIABLES */
:root {
    --sedans-background-color: hsl(31, 77%, 52%);
    --suv-background-color: hsl(184, 100%, 22%);
    --luxury-background-color: hsl(179, 100%, 13%);
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
}

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.cards-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.card {
    color: white;
}

.sedans-card {
    background-color: var(--sedans-background-color);
}

.suvs-card {
    background-color: var(--suv-background-color);
}

.luxury-card {
    background-color: var(--luxury-background-color);
}

.card h2,
.card button {
    color: hsl(0, 0%, 95%);
}

.card p {
    color: var(--paragraph-color);
}
